
html, body,  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #2A9D8F;
}

.title {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 7rem;
    background-color: #264653;
    color: #E76F51;
}

img{
    height: 20rem;
}

.gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex: 0 32%;
    column-gap: 6rem;
    row-gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

div {
    border: 1rem solid pink;
    text-align: center;
    flex: 0 28%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 12px 12px 2px 1px #F4A261;
    transition: all 0.3s;  
}

.Charizardtext, 
.suicunetext, 
.Xerneastext, 
.Milotictext, 
.Greninjatext, 
.rayquazatext, 
.laprastext, 
.scizortext, 
.torterratext{
    padding-bottom: 2rem;
    font-size: 5rem;
}


button, a {
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    margin: 0 auto;
    font-size: 2rem;
    width: fit-content;
    border-radius: 1rem;
    cursor: pointer;

}

 a{
    text-decoration: none;
    font-size: 2rem;
}

.grass, 
.bug, 
.steel, 
.water, 
.dragon, 
.flying,
.dark, 
.fairy, 
.fire {
    background-color: lightgrey;    
}



div:hover {
    transform: scale(1.1);
    animation-name: reverse-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes reverse-spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.grass:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #9bcc50;
}

/* how to traget specific angor tag and also how to change the color of both the button and angor tag at the same time how to add padding to buttons*/
a:hover {
    color: white;
}

#torterra:hover, #scizor:hover , #lapras:hover {
    background-color: #F3DE8A;
}

img:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

