
html, body,  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.title {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 7rem;
    background-color: #264653;
    color: #E76F51;
}

body {
    background-color: #2A9D8F;
}

img{
    height: 20rem;
}

.gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex: 0 32%;
    column-gap: 6rem;
    row-gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

div {
    border: 1rem solid pink;
    font-size: 5rem;
    text-align: center;
    flex: 0 28%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 12px 12px 2px 1px #F4A261;
    transition: all 0.3s;
    
}

div:hover {
    transform: scale(1.1);
}

.text{
    padding-bottom: 2rem;
}


